@tailwind base;
@tailwind components;
@tailwind utilities;

/* Root CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Flex";
}

#root {
  display: flex;
  background: #f6f6f6;
  width: 100%;
  justify-content: center;
  letter-spacing: 1px;
  min-height: 100vh;
  /* padding: 10vh 0 4vh 0; */
}
